<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            
          I have over 15 years of experience as an Agile Coach, Scrum Master and Change Manager.
        </p>
        <p>
           I am passionate about creating high performing teams and organisations.
           I'm most attracted to solving real customer problems while generating business benefits.
           
        </p>
      </div>
	    <div class="col-sm-6">
		    <h4 style="margin-top:0;">I specialise in solving problems like :</h4>
		    <ul>
    			<li>
            Meetings are uninteresting and boring
    			</li>
          <li>
            Lack of Commitment and Ownership in the team.
          <li>
            People speaking different languages across the organisation.
    			<li>
            Our priorities change quiet frequently.
    			</li>
    			<li>
            We struggle to get balance between dev and ops work.
    			</li>
          <li> We are doing scrum perfectly but still not getting better. </li>
          <li> We are good at commiting but not at Completing. </li>
          <li> There are silos within our scrum team. </li>
          <li> We struggle to slice work in vertical slices of Value. </li>
          <li> We deliver user stories but not business results. </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
